.app {
  background-position: center;
  background-size: cover;
  background-color: floralwhite;
}

.aaltu {
  background-image: url(images/laptop.jpeg);
  background-position: center;
  background-size: cover;
  height: 600px;
  text-align: center;
}

.menuList {
  padding: 16px;
  color: #4a4349;
  background-color: rgb(247, 232, 241);
  transition: 0.5s ease-in-out;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.18em;
}

.menuList:hover {
  background-color: #6e616c;
  color: white;
}

.slide1 {
  background-image: url(images/mountain.jpeg);
  background-position: center;
  background-size: cover;
  color: white;
}

.slide2 {
  background-image: url(images/gallery.jpeg);
  background-position: center;
  background-size: cover;
}

.slide3 {
  background-image: url(images/nature.jpeg);
  background-position: center;
  background-size: cover;
}

.scroll1 {
  background-image: url(images/elephant.jpeg);
}

.scroll2 {
  background-image: url(images/camera.jpeg);
}

.scroll3 {
  background-image: url(images/coast.jpeg);
}

.scroll1,
.scroll2,
.scroll3 {
  height: 500px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.story {
  padding: 4rem;
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.5rem;
  height: 400px;
}

.desc {
  padding: 4rem;
  background-color: white;
  font-family: Lato, sans-serif;
  font-size: 1.5rem;
  height: 300px;
}

input:focus {
  outline: none;
}

.submitBtn:focus {
  outline: none;
}

.submitBtn {
  padding: 5px 10px;
  background-color: white;
  font-family: Lato, sans-serif;
  border-radius: 5px;
}

.loginButton {
  margin-right: 30px;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 80px;
  color: floralwhite;
  background-color: #6e616c;
  font-size: 16px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.18em;
  float: right;
  border-radius: 3px;
}

.logo {
  margin-left: 480px;
  margin-right: 20px;
  max-width: 60px;
  max-height: 30px;
}

.footer {
  padding: 4rem;
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.5rem;
  height: 400px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.17em;
}

.icons {
  margin-top: 50px;
}

.fa {
  padding: 15px 0px 0px 10px;
  font-size: 30px;
  height: 60px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  margin: 10px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
