.app {
  background-position: center;
  background-size: cover;
  background-color: floralwhite;
}

button:focus {
  outline: none;
}

.header {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #20292b;
  color: floralwhite;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 0.14em;
}

.header-wrapper {
  min-height: 1800px;
  text-align: center;
  background-color: rgba(253, 252, 252, 0.9);
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer {
  padding: 4rem;
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.5rem;
  height: 400px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.17em;
}

.filler {
  margin-top: 600px;
  padding-left: 100px;
  min-height: 800px;
  background-image: url(images/background7.png);
  background-position: center;
  background-size: cover;
  font-size: 20px;
}

.usercard {
  position: absolute;
  top: 1600px;
  min-width: 1000px;
  min-height: 300px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: "Baloo Tamma 2", cursive;
}

.usertabs {
  margin-top: 600px;
  padding: 200px 0px 200px 200px;
  background-image: url(images/background5.png);
  background-position: center;
  background-size: cover;
}

.row {
  padding: 60px;
}

.cls-1 {
  fill: #79b2b3;
  animation: cls-1 3s ease-out;
}
.cls-2 {
  fill: #60a19b;
  animation: cls-2 3s ease-out;
}
.cls-3 {
  fill: #b6d2d0;
  animation: cls-3 3s ease-out;
}
.cls-4 {
  fill: #34827a;
  animation: cls-4 3s ease-out;
}
.cls-5 {
  fill: none;
}
.cls-6 {
  stroke-dasharray: 450;
  stroke-dashoffset: 450;
  animation: cls-6 4s linear forwards;
}
.cls-7 {
  stroke-dasharray: 450;
  stroke-dashoffset: 450;
  animation: cls-7 4s linear forwards;
}

.users-svg1 {
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: 2px;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: users-svg1 5s linear forwards infinite;
}
.users-svg2 {
  stroke: #005a57;
  stroke-miterlimit: 10;
  stroke-width: 2px;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: users-svg2 5s linear forwards infinite;
}

#Layer_users {
  margin-left: 580px;
}

@keyframes users-svg1 {
  from {
    fill: #005a57;
  }
  to {
    fill: white;
    stroke-dashoffset: 0;
  }
}

@keyframes users-svg2 {
  from {
    fill: white;
  }
  to {
    fill: #005a57;
    stroke-dashoffset: 0;
  }
}

@keyframes cls-6 {
  from {
    fill: #20292b;
  }
  to {
    fill: #005a57;
    stroke-dashoffset: 0;
  }
}

@keyframes cls-7 {
  from {
    fill: #20292b;
  }
  to {
    fill: #488c7c;
    stroke-dashoffset: 0;
  }
}

@keyframes cls-1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
  25% {
    transform: rotate(-30deg);
  }
}

@keyframes cls-2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
  25% {
    transform: rotate(90deg);
  }
}

@keyframes cls-3 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
  25% {
    transform: rotate(270deg);
  }
}

@keyframes cls-4 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
  25% {
    transform: rotate(180deg);
  }
}

.menuList {
  padding: 16px;
  color: #4a4349;
  background-color: #d3e7e7;
  transition: 0.5s ease-in-out;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.18em;
}

.menuList:hover {
  background-color: #20292b;
  color: white;
}

.slide1 {
  background-image: url(images/mountain.jpeg);
  background-position: center;
  background-size: cover;
  color: white;
}

.slide2 {
  background-image: url(images/gallery.jpeg);
  background-position: center;
  background-size: cover;
}

.slide3 {
  background-image: url(images/nature.jpeg);
  background-position: center;
  background-size: cover;
}

.scroll1 {
  background-image: url(images/elephant.jpeg);
}

.scroll2 {
  background-image: url(images/camera.jpeg);
}

.scroll3 {
  background-image: url(images/coast.jpeg);
}

.scroll1,
.scroll2,
.scroll3 {
  height: 500px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.story {
  padding: 4rem;
  background-color: white;
  font-family: "Mulish", sans-serif;
  font-size: 1.1rem;
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  background-image: url(images/background5.png);
}

.desc {
  padding: 4rem;
  background-color: white;
  font-family: "Mulish", sans-serif;
  font-size: 1.1rem;
  height: 300px;
}

input:focus {
  outline: none;
}

.submitBtn:focus {
  outline: none;
}

.submitBtn {
  padding: 5px 10px;
  background-color: white;
  font-family: Lato, sans-serif;
  border-radius: 5px;
}

.loginButton {
  margin-right: 30px;
  margin-top: 5px;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
  width: 120px;
  color: floralwhite;
  background-color: #4a4349;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.18em;
  float: right;
  border-radius: 3px;
}

.logo {
  margin-left: 480px;
  margin-right: 20px;
  max-width: 50px;
  max-height: 20px;
}

.icons {
  margin-top: 50px;
}

.fa {
  padding: 15px 0px 0px 10px;
  font-size: 30px;
  height: 60px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  margin: 10px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-user {
  color: white;
}

.fa-heart {
  color: white;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-search {
  color: white;
}

.fa-map-marker {
  color: white;
}

.fa-envelope {
  color: white;
}

.prev {
  margin-left: 30px;
  color: floralwhite;
  font-size: 1.2rem;
  cursor: pointer;
  transform: rotate(270deg);
  background: transparent;
  border: transparent;
}

.next {
  color: floralwhite;
  font-size: 1.2rem;
  cursor: pointer;
  transform: rotate(90deg);
  background: transparent;
  border: transparent;
}

.prev:focus {
  outline: none;
}

.next:focus {
  outline: none;
}

#bar2 {
  margin-left: 40px;
  display: block;
  background-color: floralwhite;
  font-size: 1.2rem;
  cursor: pointer;
  width: 3px;
  height: 80px;
  transition: 0.5s;
  border-radius: 30px;
}

#bar1 {
  display: block;
  background-color: floralwhite;
  font-size: 1.2rem;
  cursor: pointer;
  width: 3px;
  height: 80px;
  transition: 0.5s;
  border-radius: 30px;
}

#bar2:hover {
  opacity: 0;
}
#bar1:hover {
  opacity: 0;
}

.animate1 {
  text-transform: uppercase;
  letter-spacing: 0.17em;
  font-size: 25px;
  color: floralwhite;
  padding-left: 300px;
  padding-top: 200px;
  animation: animate1 4s;
}

@keyframes animate1 {
  from {
    opacity: 0;
    padding-top: 300px;
  }
  to {
    opacity: 1;
    padding-top: 200px;
  }
}

.animate2 {
  text-transform: uppercase;
  letter-spacing: 0.17em;
  font-size: 30px;
  color: rgb(104, 89, 103);
  padding-left: 300px;
  padding-top: 100px;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 6s;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

.animate3 {
  text-transform: uppercase;
  letter-spacing: 0.17em;
  font-size: 20px;
  color: rgb(255, 255, 255);
  padding-left: 600px;
  padding-top: 150px;
  white-space: nowrap;
  overflow: hidden;
  animation: animate3 3s;
}

@keyframes animate3 {
  from {
    padding-top: 0px;
  }
  to {
    padding-top: 150px;
  }
}

.column1 {
  float: left;
  width: 650px;
  margin-left: 80px;
  margin-top: 200px;
}
.column2 {
  text-align: left;
  padding: 50px;
  margin-top: 220px;
  float: left;
  width: 580px;
  letter-spacing: 0.1em;
  font-family: "Noto Sans JP", sans-serif;
  color: #20292b;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(images/background4.png);
}

.sidelist {
  position: absolute;
  top: 1750px;
  right: -100px;
  transform: rotate(90deg);
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
}

#line {
  float: left;
  margin-right: 20px;
}

#imagination {
  float: right;
}
#hand1,
#hand2,
#hair {
  transition: ease-in-out 2s;
}

.column2:hover #hand1 {
  opacity: 1;
}

.column2:hover #hand2 {
  opacity: 0;
}

.card {
  min-height: 350px;
  max-width: 800px;
  margin-left: 250px;
  -webkit-box-shadow: 0 0 5px 2px rgba(48, 109, 99, 0.4);
  -moz-box-shadow: 0 0 5px 2px rgba(48, 109, 99, 0.4);
  box-shadow: 0 0 5px 2px rgba(48, 109, 99, 0.4);
  padding-top: 70px;
  font-size: 16px;
}
.users {
  padding-top: 100px;
  padding-left: 100px;
  min-height: 900px;
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  background-image: url(images/background6.png);
  color: white;
  font-size: 60px;
  font-family: "Red Rose", cursive;
  letter-spacing: 0.1em;
}

.featured {
  min-height: 900px;
  padding-top: 200px;
  text-align: center;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(images/background8.png);
}

.background {
  color: black;
  font-size: 25px;
  background-color: white;
}

.user1 {
  fill: #3c354c;
  animation: user1 4s infinite linear;
}
@keyframes user1 {
  to {
    transform: translate(200px, 0px);
  }
}
.user9 {
  fill: #3c354c;
}
.user2 {
  fill: #ffb5bc;
  animation: user4-1 0.7s infinite ease-in-out;
}
.user2-2 {
  fill: #ffb2b9;
  opacity: 0;
  animation: user4-2 0.7s infinite ease-in-out;
}
.user3 {
  opacity: 0.1;
}
.user10,
.user3,
.user9 {
  isolation: isolate;
}
.user4-1 {
  fill: #dadae6;
  animation: user4-1 0.7s infinite ease-in-out;
}
.user4-2 {
  fill: #dcdce6;
  opacity: 0;
  animation: user4-2 0.7s infinite ease-in-out;
}
@keyframes user4-1 {
  to {
    opacity: 0;
  }
}

@keyframes user4-2 {
  to {
    opacity: 0.5;
  }
}
.user5 {
  fill: #3f3d56;
}
.user10,
.user6 {
  fill: #6c63ff;
}
.user7 {
  fill: #2f2e41;
}

.user8 {
  fill: #192534;
}
.user10,
.user9 {
  opacity: 0.3;
}
.user11 {
  fill: #ffc1c7;
}
.user12 {
  fill: #2f2e41;
}
#a955b1b5-7189-4d9c-b072-7fc1ece21ff7 {
  margin-top: 200px;
  float: right;
}

.search-bar {
  position: absolute;
  top: 1000px;
  left: 30%;
  transform: translate(-50%, -50%);
  height: 70px;
  background: #353b48;
  border-radius: 50px;
  padding: 10px;
}

.search-btn {
  color: white;
  float: right;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: teal;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  color: white;
  border: none;
  outline: none;
  background: none;
  float: left;
  padding: 0;
  font-size: 18px;
  line-height: 50px;
  width: 0;
  transition: 0.4s linear;
}
.find {
  position: absolute;
  top: 980px;
  left: 50%;
  transition: linear;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.search-bar:hover > .search-input {
  padding: 0 10px;
  width: 450px;
  transition: width 0.4s linear;
}

.search-bar:hover > .search-btn {
  background-color: rgba(0, 0, 0, 0);
}

#fd01fc53-8d1b-486a-a481-e11f41af06c1 {
  position: absolute;
  top: 1080px;
  left: 50%;
}

.cls-user1 {
  fill: #3f3d56;
}
.cls-user2 {
  fill: #2f2e41;
}
.cls-user3 {
  fill: #575a89;
}
.cls-user4 {
  opacity: 0.1;
  isolation: isolate;
}
.cls-user5 {
  fill: #fbbebe;
}
.cls-user6 {
  fill: none;
  stroke: #403d56;
  stroke-miterlimit: 10;
  stroke-width: 2px;
  stroke-dasharray: 800;
  stroke-dashoffset: 800;
  animation: cls-user6 4s linear forwards infinite;
}
@keyframes cls-user6 {
  to {
    stroke-dashoffset: 0;
  }
}
.cls-user7 {
  opacity: 0.5;
}
.cls-user8 {
  fill: url(#linear-gradient);
}
.cls-user9 {
  fill: #f5f5f5;
}
.cls-user10 {
  fill: #333;
}
.cls-user11 {
  fill: #6c63ff;
}
.cls-user12 {
  fill: #fda57d;
}
.cls-user13 {
  fill: url(#linear-gradient-2);
}
.cls-user14 {
  fill: #fdb797;
}
.cls-user15 {
  fill: url(#linear-gradient-3);
}
.cls-user16 {
  fill: #f55f44;
}

.userlist {
  text-decoration: none;
  border-bottom: 0.5px solid rgba(209, 221, 221, 0.4);
  padding: 5px 5px 5px 10px;
}

.nav__link {
  padding-left: 30px;
  padding-right: 30px;
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.1em;
}

.nav__link--active {
  padding-left: 30px;
  padding-right: 30px;
  text-decoration: none;
  color: #cfcfcf;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.1em;
  border-bottom: solid 2px honeydew;
}

.nav__link:hover {
  text-decoration: none;
  color: #cfcfcf;
}

.topic {
  position: absolute;
  font-family: "Noto Sans JP", sans-serif;
  top: 2100px;
  right: 300px;
}

.image-viewer {
  margin: 0;
  padding-top: 40px;
  padding-right: 50px;
  column-count: 3;
}

.image:hover {
  transform: scale(1.04);
}

.info {
  position: absolute;
  padding: 0;
  min-width: 390px;
  bottom: 4px;
  left: 16px;
  color: rgb(254, 255, 255);
  background-color: rgba(2, 92, 92, 0.4);
  font-size: 16px;
  opacity: 0;
  transition: ease-in-out;
}

.image:hover .info {
  opacity: 1;
}

.cls-photographer1 {
  fill: #464353;
}
.cls-photographer2,
.cls-photographer9 {
  opacity: 0.1;
}
.cls-photographer2,
.cls-photographer5,
.cls-photographer8 {
  isolation: isolate;
}
.cls-photographer3 {
  fill: #514e7f;
}
.cls-photographer4,
.cls-photographer5 {
  fill: #6c63ff;
}
.cls-photographer5 {
  opacity: 0.5;
}
.cls-photographer6 {
  fill: #3f3d56;
}
.cls-photographer7 {
  fill: #a1616a;
}
.cls-photographer8 {
  opacity: 0.05;
}
